<main>
  <section class="presentation">
    <div class="introduction">
      <div class="intro-text">
        <h1>Welcome to our shop!</h1>
        <p>
          the premire purveyor of the finest shoes in the world
        </p>
      </div>
      <div class="cta">
        <button class="cta-select">ログイン</button>
        <button class="cta-add">新規登録</button>
      </div>
    </div>
    <div class="cover">
      <%= image_tag "shoe.png" %>
    </div>
  </section>
</main>
