// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}

.cta {
  padding: 50px 0px 0px 0px;
}

.cta-select {
  border: 2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-add {
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  margin: 30px 0px 0px 30px;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.cover img {
  height: 100%;
  animation: drop 1.5s ease;
}

.laptop-select {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .cover img {
    height: 80%;
  }
}